.sidebar {
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-border-width: 0 0.2 0 0;


}

.sidebar-button {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-button-label {
    -fx-font-size: 9px;
    -fx-font-weight: bold;
}


/*
!* Global styles *!
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #F7F9FB;
    !*-fx-padding: 20;*!
}

!* BASE LAYOUT STYLING *!
.sidebar {

}

!* Title styling *!
.text, .label {
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

!* Button styles *!
.button {
    -fx-background-color: #4CAF50; !* Green *!
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-border-radius: 5;
    -fx-border-color: #388E3C;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #357ABD; !* Blue hover *!
    -fx-text-fill: white;
}

!* Input fields *!
.text-field {
    -fx-background-color: white;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-padding: 8;
}

!* Table styling *!
.table-view {
    -fx-background-color: white;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.table-view .column-header {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #388E3C;
}

!* VBox styling *!
.vbox {
    -fx-spacing: 15;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

!* HBox styling *!
.hbox {
    -fx-spacing: 10;
}

!* Navigation Buttons *!
.nav-button {
    -fx-background-color: #FFC107; !* Yellow *!
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.nav-button:hover {
    -fx-background-color: #FFB300;
    -fx-text-fill: white;
}
!* Dashboard Title *!
.label {
    -fx-text-fill: #333333;
}

!* Cards pour le Dashboard *!
.dashboard-card {
    -fx-background-color: #f9f9f9;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
}

!* Boutons Dashboard *!
.dashboard-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
}

.dashboard-button:hover {
    -fx-background-color: #45a049;
}

.dashboard-button:pressed {
    -fx-background-color: #3e8e41;
}*/
